:root {
  --spratley-bg-deep: #139595;
  --spratley-bg-light: #24c4c4;
  --spratley-bg-black: #0D1321;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}
	
body {

}

.spratley-logo {
  background: repeating-radial-gradient(
    circle at center,
    var(--spratley-bg-deep),
    var(--spratley-bg-deep) 5%,
    var(--spratley-bg-light) 5%,
    var(--spratley-bg-light) 10%
  );
  border-radius: 50%;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 10px;

  margin: 0px 10px;
}

.spratley-text h1, .spratley-text h2 {
  color: white;
  margin: 0;
  line-height: 1.5;
}

.spratley-text h1 {
  font-size: 60px;
}

.spratley-text h2 {
  font-size: 24px;
}

.header-left img {
  max-height: 120px;
}

.header-left li{
  float: left;
}

.content {
  position: relative;
  z-index: 10;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.content img {
  max-width: 75%;
  max-height: 50%;
  filter: drop-shadow(0 0 15px rgba(0,0,0,0.2));
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--spratley-bg-black);
  padding: 12px;
}

.header-contents {
  width: 100%;
  max-width: 1400px;
  align-items: center;
  margin: auto;
}

.header-right {
  float: right;
}

.header-right li {
  float: right;
  padding: 20px 10px;
}

.header-right img {
  max-height: 80px;
  padding-right: 15px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}