:root {
  --spratley-bg-deep: #139595;
  --spratley-bg-light: #24c4c4;
  --spratley-bg-black: #0D1321;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}
	
body {
  background: repeating-radial-gradient(
    circle at center,
    var(--spratley-bg-deep),
    var(--spratley-bg-deep) 2vmax,
    var(--spratley-bg-light) 2vmax,
    var(--spratley-bg-light) 4vmax
    );
}

.content {
  position: relative;
  z-index: 10;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.content img {
  max-width: 75%;
  max-height: 50%;
  filter: drop-shadow(0 0 15px rgba(0,0,0,0.2));
}

.header {
  position: fixed;
  background-color: var(--spratley-bg-black);
  width: 100%;
  max-width: 1400px;
  padding: 12px;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

.header-right {
  float: right;
}

.header-right li {
  float: right;
  padding: 20px 10px;
}

.header-left img {
  max-height: 120px;
  padding-left: 15px;
}

.header-right img {
  max-height: 80px;
  padding-right: 15px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-left li{
  float: left;
}

.header p {
  color: white;
  font-size: 60px;
  margin: 0;
  line-height: 1.5;
  padding: 10px;
}